{% if text is defined %}
    <h2 class="content-heading">
        {{ text }}

        {% set audioFile = false %}
        {% if pronunciations ?? false %}
            {% for dialect, phoneticSpellingAndAudioFile in pronunciations %}
                {% if not audioFile %}
                    {% if phoneticSpellingAndAudioFile['audioFile'] ?? false %}
                        {% set audioFile = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if audioFile ?? false %}
            {% include 'partials/audio_controls.html.twig' with { mode: 'translations' } %}
        {% endif %}
    </h2>
    {% set phoneticSpelling = "" %}
    {% if pronunciations ?? false %}
        {% for dialect, phoneticSpellingAndAudioFile in pronunciations %}
            {% if phoneticSpellingAndAudioFile['phoneticSpelling'] ?? false %}
                {% if phoneticSpelling is empty %}
                    {% if dialect matches '/[a-zA-Z]+$/' %}
                        {% set phoneticSpelling = dialect ~ ': ' %}
                    {% endif %}
                    {% set phoneticSpelling = phoneticSpelling ~ '/' ~ phoneticSpellingAndAudioFile['phoneticSpelling'] ~ '/' %}
                {% else %}
                    {% if dialect matches '/[a-zA-Z]+$/' %}
                        {% set phoneticSpelling = phoneticSpelling ~ '  |  ' ~ dialect ~ ': ' %}
                    {% endif %}
                    {% set phoneticSpelling = phoneticSpelling ~ '/' ~ phoneticSpellingAndAudioFile['phoneticSpelling'] ~ '/' %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if phoneticSpelling ?? false %}
        <p class="content-pronunciation">{{ phoneticSpelling }}</p>
    {% endif %}
    <table>
        {% for key, value in senses %}
            <tr>
                <th class="content-table">{{ key }}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            {% for def in value %}
                <tr>
                    {% if def['notes'] ?? false %}
                        {% for notes in def['notes'] %}
                            <td>&nbsp;</td>
                            <td>({% if notes.type ?? false %}{{ notes.type }}: {% endif %}{{ notes.text }})</td>
                        {% endfor %}
                    {% else %}
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    {% endif %}

                    {% if def['translations'] ?? false %}
                    <td>
                        <ol class="translations-list">
                            {% for translations in def['translations'] %}
                                {% if translations.notes ?? false %}
                                    {% for notes in translations.notes %}
                                        <li>({{ notes.text }})&nbsp;
                                    {% endfor %}
                                    {{ translations.text }}</li>
                                {% else %}
                                    <li>{{ translations.text }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                </tr>

                {% if def['examples'] ?? false %}
                    {% for examples in def['examples'] %}
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="2"><span class="content-example">{{ examples.text }}</span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="2">
                                <ol class="examples-list">
                                    {% for translations in examples.translations %}
                                        <li>{{ translations.text }}</li>
                                    {% endfor %}
                                </ol>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
{% endif %}
