{% if text is defined %}
    <h2 class="content-heading">
        {{ text }}
        {% if sourceLangAudioFile ?? false %}
            {% include 'partials/audio_controls.html.twig' with { mode: 'definitions' } %}
        {% endif %}
    </h2>
    {% if sourceLangPhoneticSpelling ?? false %}
        <p class="content-pronunciation">/{{ sourceLangPhoneticSpelling }}/</p>
    {% endif %}
    <table>
        <ol>
            {% for key, value in senses %}
                <tr>
                    <th class="content-table">{{ key }}</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>

                {% for def in value %}
                    {% if def['definitions'] ?? false %}
                        {% for definitions in def['definitions'] %}
                            <tr>
                                <td>&nbsp;</td>
                                <ol>
                                    <td colspan="3">
                                        <li>{{ definitions }}</li>
                                    </td>
                                </ol>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if def['examples'] ?? false %}
                        {% for examples in def['examples'] %}
                            <tr>
                                <td>&nbsp;</td>
                                <ol>
                                    <td colspan="3">
                                        <span class="content-example">{{ examples.text }}</span>
                                    </td>
                                </ol>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ol>
    </table>
{% endif %}
